@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #5cbdcc;
  background-blend-mode: color-burn;
}

#bg-image {

 margin: 0 auto;
 background-size: cover no-repeat;
 

}
 @media only screen and (min-width: 960px,) { 
  .main-container {
    background-image: url('images/dino-index-dt.png');
    background-size: cover no-repeat;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    margin: 0%;
    padding: 0%;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -10%);
  }
}

@media only screen and (max-width: 700px) { 
  .main-container {
    background-image: url('images/dino-start.png');
    background-size: cover no-repeat;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    padding: 0%;
  }
  
}

/* Container holding the image and the text */
.main-container {
  position: relative;
  text-align: center;
  background-size: cover no-repeat;
  object-fit: cover;
  background-repeat: no-repeat;
 
}
  /* Centered text */
 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1f0218;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

